.headline {
  text-align: center;
}

.MAIN-APP {
  text-align: center;
}

.btn-convert {
  margin-top: 50px;
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #4caf50;
}

form {
  text-align: left;
  margin: 0 auto;
  width: 300px;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
  color: #000000;
}

input[type="number"] {
  width: 50px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* #result {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #4caf50;
} */

.container {
  display: flex;
}

.ad-space-left,
.ad-space-right {
  width: 150px;
  height: 800px;
  background-color: #f2f2f2;
}

.main-content {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.result {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}
